.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; 
    width: 1px;
    margin: -1px; 
    padding: 0; 
    border: 0;
}
.hide {
    display: none;
}
//
// Border Radius
//  _____________________________________________
.border-radius-3 {
    border-radius: 0.3rem;
}
//
//  Block/Position
//  _____________________________________________
.block {
    display: block;
}
.relative {
    position: relative;
}
.inline-block {
    display: inline-block;
}
//
//  Background Colours
//  _____________________________________________
.bg-white {
    background-color: #FFFFFF;
}
.bg-brand-primary {
    background-color: var(--brand-primary);
}
//
// Limited width blocks
//  _____________________________________________
.limit-width {
    margin-left: auto;
    margin-right: auto;
    &--padded {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--left {
        margin-left: 0;
    }
}
.limit-width-xs {
    @extend .limit-width;
    max-width: 43rem;
}
.limit-width-sm {
    @extend .limit-width;
    max-width: 81rem;
}
.limit-width-md {
    @extend .limit-width;
    max-width: 93rem;
}
.limit-width-lg {
    @extend .limit-width;
    max-width: 124rem;
}
.limit-width-xl {
    @extend .limit-width;
    max-width: 137rem;
}
//
//  Show/Hide
//  _____________________________________________
.hide-lt-sm {
    @media (max-width: $screen-sm) {
        display: none !important;
    }
}
.hide-lt-md {
    @media (max-width: $screen-md) {
        display: none !important;
    }
}
.hide-gt-md {
    @media (min-width: $screen-md) {
        display: none !important;
    }
}
.hide-gt-lg {
    @media (min-width: $screen-lg) {
        display: none !important;
    }
}
//
// Text Align Center
//  _____________________________________________
.text-center {
    text-align: center;
}
.text-center-sm {
    @media (min-width: $screen-sm) {
        text-align: center;
    }
}
.text-center-md {
    @media (min-width: $screen-md) {
        text-align: center;
    }
}
//
// Text Align Left
//  _____________________________________________
.text-left {
    text-align: left;
}
.text-left-sm {
    @media (min-width: $screen-sm) {
        text-align: left;
    }
}
.text-left-md {
    @media (min-width: $screen-md) {
        text-align: left;
    }
}
//
// Text Align Right
//  _____________________________________________
.text-right {
    text-align: right;
}
.text-right-sm {
    @media (min-width: $screen-sm) {
        text-align: right;
    }
}
.text-right-md {
    @media (min-width: $screen-md) {
        text-align: right;
    }
}
//
//  Bullet List
//  _____________________________________________
.bullet-list {
    ul {
        margin-bottom: 1.1em;
    }
    li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        &::before {
            display: block;
            height: 6px;
            line-height: 6px;
            content: '\2022';
            margin: 10px 10px 0 0;
            font-size: 2.2rem;
            color: var(--blue-dark);
        }
    }
}
//
//  Icon List
//  _____________________________________________
.icon-list {
    li {
        display: flex;
        line-height: 1.5;
        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }
    }
}
//
//  Grid Helpers
//  _____________________________________________
@media (min-width: $screen-md) {
    .direction-md-row {
        flex-direction: row;
    }
    .no-wrap-md {
        flex-wrap: nowrap;
    }
}
@media (max-width: $screen-md) {
    .bleed-lt-md {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0;
    }
    .col-bleed-lt-md {
        padding: 0;
    }
}
//
//  Max Widths
//  _____________________________________________
.mw-450 {
    max-width: 45rem;
}
.mw-570 {
    max-width: 57rem;
}
.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
//
//  Other
//  _____________________________________________
.link-style {
    a {
        color: var(--brand-primary);
        text-decoration: underline;
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}
.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nooverflow {
    overflow: hidden;
}
.cursor-pointer {
    cursor: pointer;
}