//
//  Screen Width
//  _____________________________________________
$screen-xs: 320px !default;
$screen-sm: 480px !default;
$screen-md: 767px !default;
$screen-lg: 1023px !default;
$screen-xl: 1400px !default;

:root {
    // Website width
    --site-width: 192rem;
    // Content width
    --content-width: 171rem;

    //
    //  Fonts
    //  _____________________________________________
    --ff-bell-bold: "Bell Gothic Std W01 SemiBd", sans-serif;
    --ff-bell-black: "Bell Gothic Std W01 Bold", sans-serif;
    --ff-century: "Century Schoolbook W01", serif;

    //
    //  Colours
    //  _____________________________________________
    --brand-primary: yellow;
    --grey-light: #F8F8F8;
    --grey-medium: #666666;
    --grey-dark: #252525;
    --red: #D61829;
    --red-light: #FFDEDE;
    --green: #4AA50D;
    --border-color: #DDDDDD;
}