.btn {
    display: inline-block;
    padding: 1.4rem 5.2rem;
    border: 0.2rem solid transparent;
    border-radius: 4em;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    transition: color ease-in-out 0.08s, background-color ease-in-out 0.08s;
    white-space: nowrap;
    appearance: none;
    cursor: pointer;
    user-select: none;
    &--black {
        color: #FFFFFF;
        border-color: #000000;
        &:focus,
        &:hover {
            color: #000000;
            border-color: #FFFFFF;
            background-color: #FFFFFF;
        }
    }
}